.confirmationPage {
  max-width: 100vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  gap: 1rem;
  padding-bottom: 2rem;
}

.confirmationImgBox {
  width: 360px;
  height: 600px;
}

.confirmationMsg {
  color: $white;
  font-size: 1em;
  text-align: center;
}
