.loadingBox {
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(transparent 0%, $blue 15%, transparent 30%);
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-bottom: 1rem;
}

.loadingBox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: $black;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
