.reviewContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  color: $white;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.reviewTitle {
  color: $white;
  font-size: 1.2em;
  text-align: center;
}

.reviewInfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  height: 80%;
  gap: 5px;
}

.reviewInfo {
  width: 50%;
  font-size: 0.75em;
  height: auto;
}

.reviewBtnBox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
